* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #003366;

}

@font-face {
    font-family: Popins;
    src: url(./Poppins/Poppins-Bold.ttf);
}

.para {
    font-family: Popins;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: #FFFFFF;
    font-style: italic;
}
ol { margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: dotted;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: #FFFFFF;
    cursor: pointer;
    
}
li:hover {
    color: #00ffff;
}
.para-2 {
    font-family: Popins;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    font-style: italic;

}
.box {
    border: 3px solid black;
    display: inline-block;
    text-align: center;
    
}
.box:focus {
    outline: 2px solid #40E0D0; /* Turquoise outline when focused */
    background-color: #003366;   /* Keep dark blue as background */
    color: #FFFFFF;   
}