* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #abb9c7;

}

@font-face {
    font-family: Popins;
    src: url(./Poppins/Poppins-Bold.ttf);
}

.para {
    font-family: Popins;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: #FFFFFF;
    font-style: italic;
}
ol { margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: dotted;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: #FFFFFF;
    cursor: pointer;
    
}
li:hover {
    color: #00ffff;
}
.para-2 {
    font-family: Popins;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    font-style: italic;

}
#text-1 {
    text-align: start;
    height: 100px;
    width: 200px;
    
}